<div class="container mt-4">
  <h1 class="text-center mb-5">List of Employees</h1>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-lg border border-secondary text-center">
        <i class="far fa-user fa-10x border border-secondary p-3 text-success"></i>
        <div class="card-body d-flex flex-column align-items-center">
          <h4 class="card-text mt-3 border border-2 p-2">Click the button to view and manage employees from associated companies</h4>
          <%= link_to all_employees_employees_path(employee_type: 'company'), class: 'btn btn-success btn-block mt-3' do %>
            <span class="text-blue">Company Employees</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-lg border border-secondary text-center">
        <i class="far fa-user fa-10x border border-secondary p-3 text-danger"></i>
        <div class="card-body d-flex flex-column align-items-center">
          <h4 class="card-text mt-3 border border-2 p-2">Click the button to view and manage employees from non-associated companies</h4>
          <%= link_to all_employees_employees_path(employee_type: 'ordinary'), class: 'btn btn-danger btn-block mt-3' do %>
            <span class="text-red">Ordinary Employees</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
  <%= link_to 'Back to Admin Dashboard', admin_dashboard_index_path, class: 'btn btn-secondary text-center mt-4' %></div>
</div>
