<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card border-primary">
        <div class="card-body">
          <h3 class="card-title">
            <i class="fas fa-history"></i> Order History
          </h3>
          <% if @orders.any? %>
            <table class="table table-bordered">
            </table>
          <% else %>
            <p>No order history available.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center p-5">
  <%= link_to employee_dashboard_index_path, class: 'btn btn-secondary' do %>
    <i class="fas fa-arrow-left"></i> Back
  <% end %>
</div>
