<div class="container mt-5">
  <div class="card border-dark shadow">
    <div class="card-body text-center">
      <div class="card mb-3">
        <div class="card-body shadow">
          <h2 class="card-title text-success"><i class="bi bi-person-fill"></i> Hello, <%= current_user.name %></h2>
          <h3 class="card-text text-primary"><i class="bi bi-check-circle-fill"></i> Thanks for your order!</h3>
          <p class="mt-3">Please wait for further processing. You will receive notifications about the status of your order. Check your email for the details and invoice of your orders.</p>
        </div>
      </div>
      <div class="table-responsive mt-5">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name of the Food Store</th>
              <th>Food Item Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody id="cart-items-container">
          </tbody>
        </table>
      </div>
      <h3 class="mt-3"><strong>Total Price:</strong> <span id="total-price"></span></h3>
      <%= link_to 'Back to Dashboard', dashboard_employees_path, class: 'btn btn-sm btn-primary mt-4' %>
    </div>
  </div>
</div>

<script>
  var cartItemsParam = new URLSearchParams(window.location.search).get('cartItems');
  var cartItems = JSON.parse(decodeURIComponent(cartItemsParam));
  var cartItemsContainer = document.getElementById('cart-items-container');
  var totalPriceContainer = document.getElementById('total-price');
  var totalPrice = 0;
  cartItems.forEach(function(cartItem) {
    var cartItemRow = document.createElement('tr');
    var foodStoreName = document.createElement('td');
    foodStoreName.textContent = cartItem.food_store_name;
    var foodItemName = document.createElement('td');
    foodItemName.textContent = cartItem.food_item_name;
    var quantity = document.createElement('td');
    quantity.textContent = cartItem.quantity;
    var price = document.createElement('td');
    price.textContent = '₹' + (cartItem.price * cartItem.quantity).toFixed(2);
    var specialIngredients = document.createElement('td');
    specialIngredients.textContent = cartItem.special_ingredients;
    cartItemRow.appendChild(foodStoreName);
    cartItemRow.appendChild(foodItemName);
    cartItemRow.appendChild(quantity);
    cartItemRow.appendChild(price);
    cartItemRow.appendChild(specialIngredients);
    cartItemsContainer.appendChild(cartItemRow);
    totalPrice += cartItem.price * cartItem.quantity;
  });
  totalPriceContainer.textContent = '₹' + totalPrice.toFixed(2);
</script>
