// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.message {
    margin-bottom: 10px;
  }
  
  .message-content {
    font-weight: bold;
    font-size: 18px;
  }
  
  
  .sender-info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  }

  .message-container {
      max-height: 300px;
  }
  .name-box {
      background-color: #097b92;
      border: 2px solid black;
  }
  @media (min-width: 768px) {
      .chat-container {
          max-width: 800px;
    }
  }


  
  